@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&family=Prata&display=swap");

:root {
	--pumpkin: #ff6700ff;
	--cadet-gray: #a5abafff;
	--spring-green: #5ef38cff;
	--olivine: hsla(96, 30%, 69%, 0.5);
	--rosy-brown: hsla(355, 20%, 67%, 1);
	--outer-space: hsla(193, 18%, 26%, 1);
}
h1 {
	padding-inline-start: 2.5rem;
}
select {
	width: 100%;
	font-size: 1.15rem;
	padding: 0.675em 6em 0.675em 1em;
	background-color: #fff;
	border: 1px solid #caced1;
	border-radius: 0.25rem;
	color: var(--outer-space);
	cursor: pointer;
}
.filter_group {
	min-width: 22rem;
	background-color: var(--cadet-gray);
	position: relative;
}
.company_card {
	border-bottom: 0.1rem solid var(--cadet-gray);
}

.image_title {
	display: flex;
	gap: 1.25rem;
	margin-top: 1rem;
	font-family: Prata, sans-serif;
}
.quote_contact {
	display: flex;
	margin-bottom: 0.5rem;
}
img {
	max-width: 12%;
	align-self: center;
}
button {
	margin-left: auto;
	border: none;
	text-align: center;
	border-radius: 1rem;
	max-height: 2rem;
	padding: 0.625rem 1.25rem;
	display: inline-block;
	align-self: center;
	background-color: var(--olivine);
}
.name {
	margin: 0;
	font-size: 1rem;
}
.city {
	margin: 0;
	font-size: 0.8rem;
}
.quote {
	margin-bottom: 0.5rem;
	color: var(--outer-space);
	font-family: Montserrat, sans-serif;
	font-style: italic;
	font-size: small;
}
